body {
  /* background-color: #303030; */
  padding: 0px;
  margin: 0px;
  /* color: #e8e8e8; */
}
.bg {
  /* The image used */
  background-image: url("src/banner08BLlogo.png");

  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h3 {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: 25px;
}
.template {
  display: none;
}

#author {
  padding: 2%;
}
#wrap {
  min-height: 55vh;
}

/* zoom on hover*/
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}
#tsparticles {
  height: 100%;
 
}
@media only screen and (max-width:756px){
   .img-responsive{ 
     width:90%;
     height: 90%;
     margin-top:2rem;
    }
  }


#darkSwitch{
    display: none;
  }

#heart:hover{
  color:red;
}



  @media(max-width:750px){
    .img-fluid{
      width: 100%;
    }
    
    #author{
      width:50% !important; 
    }
    
    #wrap{
      padding-top: 40px;
    }
    
      }

.buttond {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


